.grid {
  $grid-max-width: 140rem;
  $gutter-vertical: 8rem;
  $gutter-horizontal: 6rem;

  .row {
    max-width: $grid-max-width;
    background-color: #eee;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    [class^="col-"] {
      display: block;
      float: left;
      background-color: orangered;
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }

    @function col-width($span, $totals) {
      $single-span-width: calc(
        (100% - (#{$gutter-horizontal} * (#{$totals} - 1))) / #{$totals}
      );
      $total-width-without-gutters: calc(#{$single-span-width} * #{$span});
      @if $span < 2 {
        @return $total-width-without-gutters;
      } @else {
        $gutters-width: calc((#{$span} - 1) * #{$gutter-horizontal});
        @return calc(#{$total-width-without-gutters} + #{$gutters-width});
      }
    }

    .col-1-of-2 {
      width: col-width(1, 2);
    }
    .col-1-of-3 {
      width: col-width(1, 3);
    }
    .col-2-of-3 {
      width: col-width(2, 3);
    }
    .col-1-of-4 {
      width: col-width(1, 4);
    }
    .col-2-of-4 {
      width: col-width(2, 4);
    }
    .col-3-of-4 {
      width: col-width(3, 4);
    }
  }
}
