/*
Note: I set the mq breakpoints using pixels, it is said that for best result ems should be used instead.
      I want to use pixels as a start here and experiment later on whether ems do indeed yield better results.
*/

$phone-breakpoint: 600px;
$tablet-portrait-breakpoint: 900px;
$tablet-landscape-breakpoint: 1200px;
$big-desktop-breakpoint: 1800px;

@mixin natours-mq($breakpoint-name) {
  @if$breakpoint-name==phone {
    @media (max-width: $phone-breakpoint) {
      @content;
    }
  } @else if $breakpoint-name == tablet-portrait {
    @media (max-width: $tablet-portrait-breakpoint) {
      @content;
    }
  } @else if $breakpoint-name == tablet-landscape {
    @media (max-width: $tablet-landscape-breakpoint) {
      @content;
    }
  } @else if $breakpoint-name == big-desktop {
    @media (min-width: $big-desktop-breakpoint) {
      @content;
    }
  } @else {
    @error 'natours-mq: breakpoint name "#{$breakpoint-name}" not recognized';
  }
}
