@import "src/assets/styles/utils/media-queries.scss";

.section-heading {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 8rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-lighter,
    $color-primary-darker
  );
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: transform 0.2s, text-shadow 0.2s;

  @include natours-mq(tablet-portrait) {
    font-size: 3rem;
  }
  @include natours-mq(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05);
    text-shadow: 5px 10px 20px transparentize($color-black, 0.65);
  }
}
