$color-medium-gray: #777;
$color-light-gray: #ddd;

$color-white: #fff;
$color-black: #000;

$color-primary: #55c57a;
$color-primary-lighter: #81f05f;
$color-primary-darker: rgb(23, 177, 143);

$bg-color-neutral-light: #f7f7f7;
